services:
  ollama:
    image: ollama/ollama:0.12.11
    container_name: ollama
    ports:
      - 11434:11434
    volumes:
      - ollama-data:/root/.ollama
    environment:
      - OLLAMA_HOST=0.0.0.0:11434
      - OLLAMA_KEEP_LIVE=4h

  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    ports:
      - 8080:8080
    volumes:
      - open-webui-data:/app/data/backend
    extra_hosts:
      - host.docker.internal:host-gateway
    environment:
      - WEB_URI=http://${VM_IP_ADDRESS}:8080
      - OLLAMA_BASE_URL=http://ollama:11434


volumes:
  ollama-data:
    name: "ollama-data"
  open-webui-data:
    name: open-webui-data